.container {
  padding: 0 15px;

  // ширина контейнера взята с рассчета отступов по 20px, как на макете.
  //макет мобильной версии в размере 320рх, а точка перелома - 480рх
  //до этого момента вся верстка ОТЗЫВЧИВАЯ (резиновая)
  @media screen and (min-width: 480px) {
    width: 440px;
  }

  @media screen and (min-width: 768px) {
    width: 688px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1366px) {
    width: 1314px;
  }
}
