<section class="contacts">
    <div class="container">
        <div class="contacts__inner">
            <h2 class="contacts__title">
                Registration for a <span class="contacts__accentColor">free</span> phone <span class="contacts__accentColor">consultation</span> on the nuances of English UPE
            </h2>

            <p class="contacts__text">
                Leave a request for participation in a <spaan class="contacts__accentColor">free lesson</spaan>.
                A consultant will contact you and answer your questions
            </p>

            <form class="contacts__form" name="form-request">
                <label class="contacts__form-label">
                    <input class="contacts__form-input" type="name" name="username" placeholder="Name*">
                </label>

                <label class="contacts__form-label">
                    <input class="contacts__form-input" type="phone" name="phone" placeholder="Phone*">
                </label>

                <button class="contacts__form-button" type="submit">
                    i want a free lesson
                </button>
            </form>
        </div>
    </div>
</section>