<section class="contacts">
  <article id="contacts"></article>
  <div class="container">
    <h2 class="contacts__title">
      Registration for a <span class="contacts__accentColor">free</span> phone
      <span class="contacts__accentColor">consultation</span> on the nuances of English UPE
    </h2>

    <form class="form" name="form-request">
      <p class="form__title">
        Leave a request for participation in a
        <span class="contacts__accentColor">free lesson</span>. A consultant will contact you and
        answer your questions
      </p>

      <label class="form__label">
        <input
          class="form__input--name"
          type="text"
          name="username"
          placeholder="Name*"
          pattern="[a-z]{1,20}"
        />
      </label>

      <label class="form__label">
        <input
          class="form__input--tel"
          type="tel"
          name="phone_number"
          placeholder="Phone*"
          pattern="[0-9]{1,10}"
        />
      </label>

      <button class="form__button" type="submit">i want a free lesson</button>
    </form>
  </div>
</section>
