<footer class="footer">
    <div class="container">
        <div class="footer__nav">
            
            
            
            <a class="logo" href="./index.html">
                <div class="logo__firstText">
                    <span class="logo__firstText--one">Hell</span>

                    <svg class="logo__icon" width="24" height="28">
                        <use href="./images/svg/sprite.svg#icon-fire"></use>
                    </svg>

                    <span class="logo__firstText--two">EN</span>
                </div>
                
                <div class="logo__secondText">
                    <p class="logo__secondText--one">hellish</p>
                    <p class="logo__secondText--two">english</p>
                </div>
            </a>
            
            



            <div class="footer__contacts">
                <a class="footer__phone--link" href="#">
                    <svg class="footer__phone--icon" width=24 height=23>
                        <use href="./images/svg/sprite.svg#icon-phone-svg"></use>
                    </svg>
                        +38 (000) 000 00 00
                </a>
                
                <a class="footer__instagram--link" href="#"></a>
            </div>
        </div>
    </div>

    <div class="footer__info">
        <p class="footer__info--text container">
            @ All rights reserved, 2019
        </p>
    </div>
</footer>
