<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__nav">
                <a class="footer__logo">
                    <span class="footer__logo--firstText">Hell</span>
                    <span class="footer__logo--firstText">EN</span>
                    <span class="footer__logo--secondText"><span class="footer__logo--accentColor">hellish</span>english</span>
                    <svg class="footer__logo--icon">
                        <use href="../images/svg/sprite.svg#icon-fire"></use>
                    </svg>
                </a>

                <div class="footer__contacts">
                    <a class="footer__phone--link">
                        <svg class="footer__phone--icon">
                            <use href="../images/svg/sprite.svg#icon-phone-svg"></use>
                        </svg>
                        +38 (000) 000 00 00
                    </a>
                
                    <a class="footer__instagram--link">
                        <svg class="footer__instagram--icon">
                            <use href="../images/svg/sprite.svg#icon-instagram-svg"></use>
                        </svg>
                    </a>
                </div>
            </div>
            
            <div class="footer__info">
                <p class="footer__info--text">
                    @ All rights reserved, 2019
                </p>
            </div>
        </div>
    </div>
 </footer>