<header>
    <a class="header__logo">
        <span class="header__logo--firstText">Hell</span>
        <span class="header__logo--firstText">EN</span>
        <span class="header__logo--secondText">
        <span class="header__logo--accentColor">hellish</span>english</span>
        <svg class="header__logo--icon">
            <use href="./images/svg/sprite.svg#icon-fire"></use>
        </svg>
    </a>
    <svg>
        <use href=""></use>
    </svg>
    <div class="mobile-menu">

    </div>
</header>