<section class="program">
  <div class="container program__container">
    <h2 class="program__title">Our program</h2>
    <ul class="program__list">
      <li class="program__list-title">
        1 semester
        <ul>
          <li class="program__list-subtitle">
            Grammar
            <ul class="distance">
              <li class="program__list-text">Nouns & Articles</li>
              <li class="program__list-text">Adjectives & Adverb</li>
            </ul>
          </li>
          <li class="program__list-subtitle">
            Vocabulary
            <ul class="distance">
              <li class="program__list-text">Family & Relations</li>
              <li class="program__list-text">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__list-title">
        2 semester
        <ul>
          <li class="program__list-subtitle">
            Grammar
            <ul class="distance">
              <li class="program__list-text">Pronouns</li>
              <li class="program__list-text">Active Voice</li>
              <li class="program__list-text">Passive Voice</li>
            </ul>
          </li>

          <li class="program__list-subtitle">
            Vocabulary
            <ul class="distance">
              <li class="program__list-text">Home</li>
              <li class="program__list-text">School</li>
              <li class="program__list-text">Work</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__list-title">
        3 semester
        <ul>
          <li class="program__list-subtitle">
            Grammar
            <ul class="distance">
              <li class="program__list-text">Modal verbs</li>
              <li class="program__list-text">Infinitive</li>
              <li class="program__list-text">Gerund</li>
              <li class="program__list-text">Participle: 1, 2</li>
            </ul>
          </li>
          <li class="program__list-subtitle">
            Vocabulary
            <ul class="distance">
              <li class="program__list-text">Travel & Tourism</li>
              <li class="program__list-text">Culture & Free Time</li>
              <li class="program__list-text">Sport</li>
            </ul>
          </li>
          <li class="program__list-subtitle">
            Writing
            <ul class="distance">
              <li class="program__list-text">Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__list-title">
        4 semester
        <ul>
          <li class="program__list-subtitle">
            Grammar
            <ul class="distance">
              <li class="program__list-text">Clauses: Conditional</li>
              <li class="program__list-text">and Wishes</li>
              <li class="program__list-text">Direct / Reported</li>
              <li class="program__list-text">speech</li>
              <li class="program__list-text">Preposition</li>
              <li class="program__list-text">Conjunction</li>
              <li class="program__list-text">Numeral</li>
            </ul>
          </li>
          <li class="program__list-subtitle">
            Vocabulary
            <ul class="distance">
              <li class="program__list-text">Healthy Living</li>
              <li class="program__list-text">Nature & Environment</li>
              <li class="program__list-text">Money</li>
            </ul>
          </li>
          <li class="program__list-subtitle">
            Writing
            <ul class="distance">
              <li class="program__list-text">Formal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__list-title">
        5 semester
        <ul>
          <li class="program__list-subtitle">
            <ul class="distance">
              <li class="program__list-text">Revision</li>
              <li class="program__list-text">Tests</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
