<section class="program">
  <div class="container program__container">
    <h2 class="program__title">Our program</h2>

    <ul class="program__list">
      <li class="program__list-semester">
        <h3 class="program__list-title">1 semester</h3>
        <ul>
          <li class="program__list-item">
            <h4 class="program__list-subtitle">Grammar</h4>
            <p class="program__list-text">Nouns & Articles Adjectives & Adverb</p>
          </li>
        </ul>
        <ul>
          <li class="program__list-item">
            <h4 class="program__list-subtitle">Vocabulary</h4>
            <p class="program__list-text">Family & Relations People & Society</p>
          </li>
        </ul>
      </li>
      <li class="program__list-semester">
        <h3 class="program__list-title">2 semester</h3>
        <ul>
          <li class="program__list-item">
            <h4 class="program__list-subtitle">Grammar</h4>
            <p class="program__list-text">Pronouns Active Voice Passive Voice</p>
          </li>
        </ul>
        <ul>
          <li class="program__list-item">
            <h4 class="program__list-subtitle">Vocabulary</h4>
            <p class="program__list-text">Home School Work</p>
          </li>
        </ul>
      </li>
      <li class="program__list-semester">
        <h3 class="program__list-title">3 semester</h3>
        <ul>
          <li class="program__list-item">
            <h4 class="program__list-subtitle">Grammar</h4>
            <p class="program__list-text">Modal verbs Infinitive Gerund Participle: 1, 2</p>
          </li>
        </ul>
        <ul>
          <li class="program__list-item">
            <h4 class="program__list-subtitle">Vocabulary</h4>
            <p class="program__list-text">Travel & Tourism Culture & Free Time Sport</p>
          </li>
        </ul>
        <ul>
          <li class="program__list-item">
            <h4 class="program__list-subtitle">Writing</h4>
            <p class="program__list-text">Informal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program__list-semester">
        <h3 class="program__list-title">4 semester</h3>
        <ul>
          <li class="program__list-item">
            <h4 class="program__list-subtitle">Grammar</h4>
            <p class="program__list-text">
              Clauses: Conditional and Wishes Direct / Reported speech Preposition Conjunction
              Numeral
            </p>
          </li>
        </ul>
        <ul>
          <li class="program__list-item">
            <h4 class="program__list-subtitle">Vocabulary</h4>
            <p class="program__list-text">Healthy Living Nature & Environment Money</p>
          </li>
        </ul>
        <ul>
          <li class="program__list-item">
            <h4 class="program__list-subtitle">Writing</h4>
            <p class="program__list-text">Formal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program__list-semester">
        <h3 class="program__list-title">5 semester</h3>
        <ul>
          <li class="program__list-item">
            <h4 class="program__list-subtitle">—</h4>
            <p class="program__list-text">Revision Tests</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
