<section class="feedback">
  <div class="container">
    <h2 class="feedback__title">Feedback from graduates</h2>
    <ul class="slider">
      <li class="slider__item">
        <article class="reviewer">
          <div class="reviewer__pics">
            <picture>
              <source
                srcset="
                  ./images/project_tablet/review1-main.png    1x,
                  ./images/project_tablet/review1-main@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/project_mobile/review1-main.png    1x,
                  ./images/project_mobile/review1-main@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="reviewer__photo" src="#" alt="girl's photo" />
            </picture>
            <a class="reviewer__social" href="#" target="_blank" rel="noopener noreferrer">
              <svg width="30px" height="30px">
                <use href="./images/svg/sprite.svg#icon-vk-svg"></use>
              </svg>
            </a>
          </div>
          <div class="reviewer__desc">
            <h3 class="reviewer__name">Tonya Kucherovskaya</h3>
            <p class="reviewer__education">
              Graduated from 2015, National University of Bioresources and natural history of
              Ukraine
            </p>
            <p class="reviewer__text">
              <input type="checkbox" class="rm-checkbox visually-hidden" id="check1" />
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student<span class="rm-dots">...</span>
              <span class="rm-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam incidunt praesentium,
                mollitia voluptatum veniam odio optio non dolor est sit fugit, nihil accusantium
                dignissimos iusto hic, recusandae quasi aliquam ut! Fugiat, velit nam eveniet quia
                esse eos voluptatibus nulla exercitationem dolore, reprehenderit dignissimos minima
                asperiores laboriosam consequuntur rem dolorem tempore veniam maiores quam molestias
                voluptate ipsam dolorum odio expedita. Tempore!
              </span>
              <label class="rm-btn" for="check1"></label>
            </p>
          </div>
        </article>
      </li>
      <li class="slider__item">
        <article class="reviewer">
          <div class="reviewer__pics">
            <picture>
              <source
                srcset="
                  ./images/project_tablet/review2-main.png    1x,
                  ./images/project_tablet/review2-main@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/project_mobile/review2-main.png    1x,
                  ./images/project_mobile/review2-main@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="reviewer__photo" src="#" alt="girl's photo" />
            </picture>
            <a class="reviewer__social" href="#" target="_blank" rel="noopener noreferrer">
              <svg width="30px" height="30px">
                <use href="./images/svg/sprite.svg#icon-vk-svg"></use>
              </svg>
            </a>
          </div>
          <div class="reviewer__desc">
            <h3 class="reviewer__name">Masha Malinovskaya</h3>
            <p class="reviewer__education">
              Graduated from 2014, National University of Bioresources and natural history of
              Ukraine
            </p>
            <p class="reviewer__text">
              <input type="checkbox" class="rm-checkbox visually-hidden" id="check2" />
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student<span class="rm-dots">...</span>
              <span class="rm-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam incidunt praesentium,
                mollitia voluptatum veniam odio optio non dolor est sit fugit, nihil accusantium
                dignissimos iusto hic, recusandae quasi aliquam ut! Fugiat, velit nam eveniet quia
                esse eos voluptatibus nulla exercitationem dolore, reprehenderit dignissimos minima
                asperiores laboriosam consequuntur rem dolorem tempore veniam maiores quam molestias
                voluptate ipsam dolorum odio expedita. Tempore!
              </span>
              <label class="rm-btn" for="check2"></label>
            </p>
          </div>
        </article>
      </li>
      <li class="slider__item">
        <article class="reviewer">
          <div class="reviewer__pics">
            <picture>
              <source
                srcset="
                  ./images/project_tablet/review3-main.png    1x,
                  ./images/project_tablet/review3-main@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/project_mobile/review3-main.png    1x,
                  ./images/project_mobile/review3-main@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="reviewer__photo" src="#" alt="girl's photo" />
            </picture>
            <a class="reviewer__social" href="#" target="_blank" rel="noopener noreferrer">
              <svg width="30px" height="30px">
                <use href="./images/svg/sprite.svg#icon-vk-svg"></use>
              </svg>
            </a>
          </div>
          <div class="reviewer__desc">
            <h3 class="reviewer__name">Lena Kashpirovskaya</h3>
            <p class="reviewer__education">
              Graduated from 2013, National University of Bioresources and natural history of
              Ukraine
            </p>
            <p class="reviewer__text">
              <input type="checkbox" class="rm-checkbox visually-hidden" id="check3" />
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student<span class="rm-dots">...</span>
              <span class="rm-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam incidunt praesentium,
                mollitia voluptatum veniam odio optio non dolor est sit fugit, nihil accusantium
                dignissimos iusto hic, recusandae quasi aliquam ut! Fugiat, velit nam eveniet quia
                esse eos voluptatibus nulla exercitationem dolore, reprehenderit dignissimos minima
                asperiores laboriosam consequuntur rem dolorem tempore veniam maiores quam molestias
                voluptate ipsam dolorum odio expedita. Tempore!
              </span>
              <label class="rm-btn" for="check3"></label>
            </p>
          </div>
        </article>
      </li>
      <li class="slider__item">
        <article class="reviewer">
          <div class="reviewer__pics">
            <picture>
              <source
                srcset="
                  ./images/project_tablet/review4-main.png    1x,
                  ./images/project_tablet/review4-main@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/project_mobile/review4-main.png    1x,
                  ./images/project_mobile/review4-main@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="reviewer__photo" src="#" alt="girl's photo" />
            </picture>
            <a class="reviewer__social" href="#" target="_blank" rel="noopener noreferrer">
              <svg width="30px" height="30px">
                <use href="./images/svg/sprite.svg#icon-vk-svg"></use>
              </svg>
            </a>
          </div>
          <div class="reviewer__desc">
            <h3 class="reviewer__name">Katya Baranovskaya</h3>
            <p class="reviewer__education">
              Graduated from 2012, National University of Bioresources and natural history of
              Ukraine
            </p>
            <p class="reviewer__text">
              <input type="checkbox" class="rm-checkbox visually-hidden" id="check4" />
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student<span class="rm-dots">...</span>
              <span class="rm-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam incidunt praesentium,
                mollitia voluptatum veniam odio optio non dolor est sit fugit, nihil accusantium
                dignissimos iusto hic, recusandae quasi aliquam ut! Fugiat, velit nam eveniet quia
                esse eos voluptatibus nulla exercitationem dolore, reprehenderit dignissimos minima
                asperiores laboriosam consequuntur rem dolorem tempore veniam maiores quam molestias
                voluptate ipsam dolorum odio expedita. Tempore!
              </span>
              <label class="rm-btn" for="check4"></label>
            </p>
          </div>
        </article>
      </li>
      <li class="slider__item">
        <article class="reviewer">
          <div class="reviewer__pics">
            <picture>
              <source
                srcset="
                  ./images/project_tablet/review5-main.png    1x,
                  ./images/project_tablet/review5-main@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/project_mobile/review5-main.png    1x,
                  ./images/project_mobile/review5-main@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="reviewer__photo" src="#" alt="girl's photo" />
            </picture>
            <a class="reviewer__social" href="#" target="_blank" rel="noopener noreferrer">
              <svg width="30px" height="30px">
                <use href="./images/svg/sprite.svg#icon-vk-svg"></use>
              </svg>
            </a>
          </div>
          <div class="reviewer__desc">
            <h3 class="reviewer__name">Sonya Ripasovskaya</h3>
            <p class="reviewer__education">
              Graduated from 2011, National University of Bioresources and natural history of
              Ukraine
            </p>
            <p class="reviewer__text">
              <input type="checkbox" class="rm-checkbox visually-hidden" id="check5" />
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student<span class="rm-dots">...</span>
              <span class="rm-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam incidunt praesentium,
                mollitia voluptatum veniam odio optio non dolor est sit fugit, nihil accusantium
                dignissimos iusto hic, recusandae quasi aliquam ut! Fugiat, velit nam eveniet quia
                esse eos voluptatibus nulla exercitationem dolore, reprehenderit dignissimos minima
                asperiores laboriosam consequuntur rem dolorem tempore veniam maiores quam molestias
                voluptate ipsam dolorum odio expedita. Tempore!
              </span>
              <label class="rm-btn" for="check5"></label>
            </p>
          </div>
        </article>
      </li>
      <li class="slider__item">
        <article class="reviewer">
          <div class="reviewer__pics">
            <picture>
              <source
                srcset="
                  ./images/project_tablet/review6-main.png    1x,
                  ./images/project_tablet/review6-main@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/project_mobile/review6-main.png    1x,
                  ./images/project_mobile/review6-main@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="reviewer__photo" src="#" alt="girl's photo" />
            </picture>
            <a class="reviewer__social" href="#" target="_blank" rel="noopener noreferrer">
              <svg width="30px" height="30px">
                <use href="./images/svg/sprite.svg#icon-vk-svg"></use>
              </svg>
            </a>
          </div>
          <div class="reviewer__desc">
            <h3 class="reviewer__name">Tonya Kucherovskaya</h3>
            <p class="reviewer__education">
              Graduated from 2015, National University of Bioresources and natural history of
              Ukraine
            </p>
            <p class="reviewer__text">
              <input type="checkbox" class="rm-checkbox visually-hidden" id="check6" />
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student<span class="rm-dots">...</span>
              <span class="rm-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam incidunt praesentium,
                mollitia voluptatum veniam odio optio non dolor est sit fugit, nihil accusantium
                dignissimos iusto hic, recusandae quasi aliquam ut! Fugiat, velit nam eveniet quia
                esse eos voluptatibus nulla exercitationem dolore, reprehenderit dignissimos minima
                asperiores laboriosam consequuntur rem dolorem tempore veniam maiores quam molestias
                voluptate ipsam dolorum odio expedita. Tempore!
              </span>
              <label class="rm-btn" for="check6"></label>
            </p>
          </div>
        </article>
      </li>
      <li class="slider__item">
        <article class="reviewer">
          <div class="reviewer__pics">
            <picture>
              <source
                srcset="
                  ./images/project_tablet/review7-main.png    1x,
                  ./images/project_tablet/review7-main@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/project_mobile/review7-main.png    1x,
                  ./images/project_mobile/review7-main@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="reviewer__photo" src="#" alt="girl's photo" />
            </picture>
            <a class="reviewer__social" href="#" target="_blank" rel="noopener noreferrer">
              <svg width="30px" height="30px">
                <use href="./images/svg/sprite.svg#icon-vk-svg"></use>
              </svg>
            </a>
          </div>
          <div class="reviewer__desc">
            <h3 class="reviewer__name">Yulia Nunchakovskaya</h3>
            <p class="reviewer__education">
              Graduated from 2009, National University of Bioresources and natural history of
              Ukraine
            </p>
            <p class="reviewer__text">
              <input type="checkbox" class="rm-checkbox visually-hidden" id="check7" />
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student<span class="rm-dots">...</span>
              <span class="rm-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam incidunt praesentium,
                mollitia voluptatum veniam odio optio non dolor est sit fugit, nihil accusantium
                dignissimos iusto hic, recusandae quasi aliquam ut! Fugiat, velit nam eveniet quia
                esse eos voluptatibus nulla exercitationem dolore, reprehenderit dignissimos minima
                asperiores laboriosam consequuntur rem dolorem tempore veniam maiores quam molestias
                voluptate ipsam dolorum odio expedita. Tempore!
              </span>
              <label class="rm-btn" for="check7"></label>
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
