.advantages {
  &__container {
    padding: 30px 52px 44px 52px;

    @media screen and(min-width: 768px) {
      padding: 46px 40px 40px 40px;
    }
    @media screen and(min-width: 1366px) {
      padding-top: 96px;
      padding-bottom: 130px;
    }
  }
  &__list {
    @media screen and(min-width: 768px) {
      display: flex;
      justify-content: center;
      margin: -10px;
    }
  }
  &__item {
    position: relative;
    width: 215px;
    padding-left: 85px;
    font-weight: 700;
    font-size: 14px;

    @media screen and(min-width: 768px) {
      width: calc((100% - 3 * 20px) / 3);
      margin: 10px;

      @media screen and(max-width: 1365px) {
        &:nth-child(1) {
          width: 215px;
        }
      }
    }
    @media screen and(min-width: 1366px) {
      font-size: 20px;
    }
    &:nth-child(1) {
      white-space: nowrap;
    }
    @media screen and(max-width: 767px) {
      &:nth-child(1) {
        margin-bottom: 26px;
      }
      &:nth-child(2) {
        margin-bottom: 21px;
      }
    }
    @media screen and (max-width: 1365px) {
      &:nth-child(1) {
        padding-top: 8px;
      }
    }
  }
}
.advantages__item::before {
  position: absolute;
  top: -1%;
  left: 8%;

  display: block;
  content: '';
  width: 58px;
  height: 60px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @media screen and(min-width: 1366px) {
    top: -50%;
    left: -2%;
    width: 100px;
    height: 102px;
  }
}
.advantages__item:nth-child(1):before {
  background-image: url(../images/svg/person-original.svg);
}
.advantages__item:nth-child(2):before {
  background-image: url(../images/svg/study-original.svg);
}
.advantages__item:nth-child(3):before {
  background-image: url(../images/svg/money-original.svg);
}
