.benefits {
  position: absolute;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
   
  @media screen and  (max-width: 479px) {
  transform: translateY(-77%);
  width: 100vw;
}

  @media screen and (min-width: 480px) and (max-width: 767px) {
  transform: translateY(-94%);
  width: 100vw;
}

  @media screen and (min-width: 768px) {
  transform: translateY(-45%);   
  width: 100vw;
}

  @media screen and (min-width: 1366px) {
    transform: translateY(-75%); 
    width: 100vw;
}
}

  .benefits__hidden {
    background-color: transparent;
    padding-bottom: 30px;

    @media screen and (max-width: 767px) {
    width: 180px;   
    }

    @media screen and (min-width: 1366px) {
      display: none;
    }
  }
  
  .benefits__heading {
    font-weight: 800;
    letter-spacing: 0.03em;
    color: $primary-background;
    
    @media screen and (max-width: 767px) {
        font-size: 20px;
    line-height: 1.35;
    }

    @media screen and (min-width: 768px) {
        font-size: 26px;
    line-height: 1.3;
    text-align: center;
    }
  }
  
  .benefits-main {
    width: 100%;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    background-color: $primary-background;

    ////////// padding-bottom: 30px до 767рх не работает /////////
    @media screen and (max-width: 767px) {
      padding: 20px 14px 4px 30px;      
    }

    @media screen and (min-width: 768px) {
    padding: 30px 118px 25px 98px;
    }

    @media screen and (min-width: 1366px) {
      padding: 70px 82px 70px 84px;     
    }
  }
    
.benefits__list {
  /*counter-reset: number 0;*/

  @media screen and (min-width: 768px) {
display: flex;
flex-wrap: wrap;
  }
}

  .benefits__item {
      margin-bottom: 20px;

    @media screen and (min-width: 768px) and (max-width: 1365px) {
      min-width: 216px;      
      max-width: 236px;

       &:nth-child(5) {
        margin-bottom: 0;
      }
    }
   
    @media screen and (min-width: 1366px) {
      width: 356px;
      margin-right: 40px;

      &:nth-child(3), &:nth-child(6) {
        margin-right: 0;
      }

      &:nth-child(4), &:nth-child(5), &:nth-child(6) {
        margin-bottom: 0;
      }
      }

    &:last-child {
      margin-bottom: 0;
    }
  
    &::before {
      content: '';
      color: $accent;
      /*content: "0" counter(number);*/
    }
  }
  
.benfits__text {
  /* cтили перебиваются _base */
  font-weight: 700;
  color: $primary-text-color;

@media screen and (max-width: 1365px) {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 1366px) {
  font-size: 20px;
  line-height: 1.4;
}
}
  
  .first,
  .second,
  .third,
  .fourth,
  .fifth,
  .sixth {
    /* cтили перебиваются _base */
    margin-bottom: 10px;
    color: $accent;
  
    &::before {
      content: '';
      font-weight: 700;
      font-size: 14px;
      line-height: 1.71;
      color: $primary-text-color;
      display: inline-block;
      border: 1px solid $accent;
      width: 14px;
      margin-bottom: 5px;
      margin-right: 6px;
    }
  }
  