/* Logo */
.logo__text {
  font-weight: 800;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.04em;
  color: $primary-text-color;

  &--dark {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    color: $primary-text-color;
    color: $primary-background;
  }
}

.logo__descr {
  font-weight: bold;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: $primary-text-color;

  &--accent {
    font-weight: bold;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: $accent;
  }
}

/* Buttons */
.submit__btn {
  @media screen and (min-width: 1680px) {
    background-color: transparent;
    padding: 27px 23px;
    width: 336px;
    height: 70px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: $primary-background;
    background-color: $accent;

    &--orange {
      background-color: transparent;
      padding: 27px 70px;
      width: 354px;
      height: 70px;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.21;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: $accent;
      border: 2px solid $accent;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1679px) {
    background-color: transparent;
    padding: 15px 5px;
    width: 260px;
    height: 48px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: $accent;
    border: 2px solid $accent;

    &--orange {
      background-color: $accent;
      padding: 15px 5px;
      width: 260px;
      height: 48px;
      border: none;
      font-weight: bold;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: $primary-background;
    }
  }

  @media screen and (max-width: 767px) {
    background-color: transparent;
    padding: 17px 35px;
    width: 260px;
    height: 48px;
    border: 2px solid $accent;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $accent;

    &--orange {
      background-color: $accent;
      padding: 14px 36px;
      border: none;
      font-weight: bold;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: $primary-background;
    }
  }
}
