.footer {
  position: relative;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 0;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (min-width: 1366px) {
    width: 857px;
  }
}

// .logo__firstText--one,
// .logo__firstText--two {
//   font-size: 26px;
//   font-weight: 800;
//   line-height: 1.23;
//   letter-spacing: 0.04em;
//   text-align: left;
//   color: $primary-text-color;
// }

// .logo__secondText {
//   display: flex;
//   justify-content: flex-start;
// }

// .logo__secondText--one,
// .logo__secondText--two {
//   font-size: 8px;
//   font-style: normal;
//   font-weight: 800;
//   line-height: 1.25;
//   letter-spacing: 0.18em;
//   margin-top: 3px;
//   text-transform: uppercase;
// }

// .logo__secondText--one {
//   margin-right: 5px;
//   color: $accent;
// }

// .logo__secondText--two {
//   color: $primary-text-color;
// }
.logo {
  display: inline-block;
  padding-bottom: 21px;
  margin: 0 auto;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin: 0;
    padding: 0;
  }
  &-firstText {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    color: $primary-text-color;
    position: relative;
  }
  &-secondText {
    font-weight: 700;
    font-size: 5px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent;
    margin-top: 2px;
    text-align: left;
  }
  &-secondText-two {
    color: $primary-text-color;
  }
  &-icon {
    position: absolute;
    left: 35px;
    bottom: 1px;
    width: 15px;
    height: 19px;
  }
  &-firstText-one {
    margin-right: 22px;
  }
  @media screen and (min-width: 768px) {
    &-firstText {
      font-weight: 800;
      font-size: 26px;
      line-height: 1.23;
      letter-spacing: 0.04em;
      color: $primary-text-color;
    }
    &-secondText {
      font-size: 8px;
      line-height: 1.3;
      margin-top: 3px;
    }
    &-secondText-two {
      color: $primary-text-color;
    }
    &-icon {
      position: absolute;
      left: 61px;
      width: 22px;
      height: 30px;
    }
    &-firstText-one {
      margin-right: 30px;
    }
  }
}
.footer__contacts {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.footer__phone--link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: $primary-text-color;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    margin: 0;
  }

  @media screen and (min-width: 1366px) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.footer__phone--link::after {
  @media screen and (min-width: 768px) {
    content: ' ';
    width: 0px;
    height: 40px;
    margin: 0 24px;
    border: 1px solid $secondary-text-color;
  }

  @media screen and (min-width: 1366px) {
    margin-left: 16px;
    margin-right: 24px;
  }
}

.footer__phone--icon {
  margin-right: 10px;

  @media screen and (min-width: 1366px) {
    margin-right: 15px;
  }
}

.footer__instagram--link {
  display: inline-block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-image: url('../images/instagram.svg');
  cursor: pointer;
}

.footer__info {
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-text-color;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

.footer__info--text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  display: flex;
  align-items: center;
  color: $secondary-text-color;
}
