.header-container {
  display: flex;
  padding-top: 34px;
  padding-bottom: 50px;
  justify-content: space-between;
}

.header__logo {
  // font задані орієнтовно так, як в макеті відсутня інфо. Даний текст відображається як графічний елекмент.
  &-firstText {
    font-weight: 800;
    font-size: 13px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    color: $primary-text-color;
  }
  &-secondText {
    font-weight: 700;
    font-size: 5px;
    line-height: 1.2;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: $accent;
  }
  &-secondText-two {
    color: $primary-text-color;
  }
}

.header__icon-menu {
}
