.howwd {
  padding-bottom: 50px;
}

.howwd__title {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

.howwd__item-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42;
  text-align: center;
  margin-bottom: 42px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.howwd__item-title--psychology {
  max-width: 190px;
  margin-left: auto;
  margin-right: auto;
}
.howwd__item {
  padding: 30px 0 27px;
  box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
  &:hover,
  &:focus {
    background-color: $accent;
    color: $primary-background;
  }
}
.howwd__item-description {
  font-size: 12px;
  line-height: 1.66;
  text-align: center;
  color: $secondary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 290px;
  margin-right: auto;
  margin-left: auto;

  .howwd__item:focus &,
  .howwd__item:hover & {
    color: $primary-background;
  }
}
.howwd__icon {
  margin-bottom: 20px;
  fill: $accent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .howwd__item:focus &,
  .howwd__item:hover & {
    fill: $primary-background;
  }
}
.howwd__description-container {
  padding-right: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.howwd__item-title::before {
  content: '';
  width: 20px;
  height: 2px;
  background-color: $accent;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .howwd__item:focus &,
  .howwd__item:hover & {
    background-color: $primary-background;
  }
}

@media screen and (max-width: 767px) {
  .howwd__description-container {
    max-width: 380px;
  }
  .howwd__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .howwd__title {
    font-size: 26px;
  }
  .howwd__list {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
  }
  .howwd__item {
    padding: 40px 20px 30px;
    flex-basis: calc(100% / 2 - 24px);
    margin: 12px;

    &:last-child {
      margin-bottom: 15px;
    }
    &:hover,
    &:focus {
      background-color: $accent;
      color: $primary-background;
    }
  }

  .howwd__icon {
    margin-bottom: 30px;
  }
  .howwd__description-container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (min-width: 1366px) {
  .howwd {
    padding-bottom: 130px;
  }
  .howwd__title {
    font-size: 46px;
    margin-bottom: 50px;
    text-align: left;
  }
  .howwd__item-title {
    font-size: 20px;
  }
  .howwd__item-description {
    font-size: 18px;
  }
  .howwd__item {
    padding: 40px 20px 55px;
    flex-basis: calc(100% / 3 - 20px);
    margin: 10px;
  }
  .howwd__list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
  .howwd__item-title {
    margin-bottom: 32px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .howwd__item-title--psychology {
    max-width: 190px;
    margin-left: auto;
    margin-right: auto;
  }
  .howwd__item-description {
    max-width: 390px;
    margin-right: auto;
    margin-left: auto;
  }
  .howwd__item-title::before {
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
  }
}
