.program {
  position: relative;
  background: $primary-text-color;
}
.program__container {
  padding-bottom: 540px;
}
.program__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  padding-top: 50px;
  text-align: center;
  color: $primary-background;
}
.program__list {
  margin-top: 45px;
  padding-left: 75px;
  position: relative;
}
.program__list-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 25px;
  color: $primary-background;
  line-height: 1;
  position: relative;
  &::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $accent;
    position: absolute;
    left: -6px;
    top: 0;
  }
  &:not(:last-child) {
    padding-bottom: 40px;
  }
  &:not(:last-child) {
    border-left: 1px solid $primary-background;
  }
}

.program__list-subtitle {
  padding-top: 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  // display: flex;
  align-items: center;
  text-transform: capitalize;
  color: $accent;
  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 1px;
    margin-right: 5px;
    background-color: $accent;
  }
}
.program__list-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  color: $secondary-text-color;
  opacity: 0.5;
}
.distance {
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .program__container {
    padding-bottom: 390px;
  }
  .program__list-sublist {
    display: flex;
  }
  .program__list-subtitle:nth-child(1) {
    flex: none;
    width: 176px;
  }
  .program__list-subtitle:nth-child(2) {
    width: 155px;
  }
  .program__list-subtitle:nth-child(3) {
    width: 110px;
  }
  .program__list-subtitle:not(:first-child) {
    margin-left: 50px;
  }
  .program__title {
    font-size: 26px;
    text-align: left;
  }
  .program__list {
    padding-left: 50px;
  }
  .program__list-title {
    padding-left: 50px;
  }
}

@media screen and (min-width: 1366px) {
  .program__container {
    padding-bottom: 360px;
  }
  .program__list {
    padding-left: 0px;
    display: flex;
  }
  .program__list-sublist {
    display: flex;
    flex-direction: column;
  }
  .program__list-subtitle:not(:first-child) {
    margin-left: 0px;
  }
  .program__list-title {
    padding-left: 0px;
    padding-top: 60px;
    width: 240px;
    &::before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $accent;
      position: absolute;
      left: -6px;
      top: 0;
    }
    &:not(:last-child) {
      padding-bottom: 0px;
    }
  }
  .program__list-title:not(:last-child) {
    border-top: 1px solid $primary-background;
    border-left: none;
  }
}
