.problems {
  padding-top: 25px;
  background: linear-gradient($primary-text-color 78%, $primary-background 22%);
  @media screen and(min-width: 768px) {
    padding: 60px 40px 0 40px;
  }
  @media screen and(min-width: 1366px) {
    padding: 100px 183px 0 183px;
    background-image: linear-gradient(transparent 66%, $primary-background 0, $primary-background),
      url('../images/svg/fire-original.svg'),
      linear-gradient($primary-text-color 66%, transparent 0, transparent);
    background-size: contain, 400px 445px, contain;
    background-repeat: no-repeat;
    background-position: 0 0, bottom 200px right, 0 0;
  }

  &__container {
    @media screen and(min-width: 1366px) {
      max-width: 100%;
    }
  }
  &__title {
    margin-bottom: 25px;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.03em;

    color: $primary-background;
    @media screen and(min-width: 768px) {
      height: 104px;
    }
    @media screen and(min-width: 1366px) {
      margin-bottom: 70px;
      font-size: 46px;

      height: 178px;
    }
  }
  &__accent-text {
    color: $accent;
  }
  &__wrapper {
    padding: 19px 14px 19px 30px;
    margin-bottom: 50px;

    background-color: $primary-background;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    @media screen and(min-width: 768px) {
      padding: 26px 109px 53px 96px;
    }
    @media screen and(min-width: 1366px) {
      padding: 70px 112px 62px 114px;
      margin-bottom: 130px;
    }
  }
  &__list {
    counter-reset: number 0;
    @media screen and(min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
    @media screen and(min-width: 1366px) {
      margin: -20px;
    }
  }

  &__item {
    position: relative;
    padding-top: 24px;
    margin-top: 15px;
    font-weight: 700;
    counter-increment: number;
    @media screen and(min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    @media screen and(min-width: 1366px) {
      width: calc((100% - 3 * 40px) / 3);
      margin: 20px;
      font-size: 20px;
      line-height: 1.4;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 30px;
      display: block;
      content: '0' counter(number);
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: inherit;

      color: $accent;
    }
    &::after {
      position: absolute;
      top: 10px;
      left: 0;
      display: block;
      content: '';
      width: 22px;
      height: 2px;

      background-color: $accent;
    }
  }
}
